/*worked with: Sarah Wojtowicz*/

ol li:nth-child(even){
    background: #376F70
}

ol li:nth-child(odd){
    background: #BEEEEF
}

ol li:nth-child(10n+0){
    margin-bottom: 50px;
}

ol li:last-child{
    margin-bottom: inherit;
}

img{
    border: 5px solid black;
    margin: 10px;
    display:inline;
}

/*= universal selector */
img:hover, *:focus{
    box-shadow: 10px 10px 5px #376F70;
}